* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}



body {
    background: #000;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    margin: 0;
    font: normal 75% Arial, Helvetica, sans-serif;
}

header {
    position: relative;
}

.container-form {
    width: 90%;
    height: 100vh;
    display: grid;
    grid-template-columns: auto auto auto;
    transition-property: all 4s;

}




header .welcome-back {
    grid-column: 1;
    margin-top: 50%;
    align-items: center;
    text-align: center;

}

.message {
    padding: 10%;
}

.message h2 {
    font-size: 1.7rem;
    padding: 1rem 0;
    transition: opacity .35s;

}

.message button {
    padding: 1rem;
    font-weight: 400;
    background-color: #4a4aee;
    border-radius: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: .9rem;
    margin-top: 2rem;
    transition: opacity .35s;


    color: #fff;
}

.message button:hover {
    background-color: #6464f8;
}

.formulario {
    grid-column: 2;
    margin-left: 10%;
    width: 400px;
    height: 410px;
    padding: 1rem;
    margin: 2rem;
    background-color: rgb(51, 51, 51, 0.602);
    text-align: center;
    border-radius: 10%;

}



.create-account {
    padding: 1%;
    font-size: 1.7rem;
}

.iconos {
    width: 200px;

    display: flex;
    justify-content: space-around;
    margin-top: 8%;
    margin-left: 25%;
}

.border-icon {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border: solid thin white;
    border-radius: 50%;
    font-size: 1.5rem;
    transition: all .3s ease-in;
}

.border-icon:hover {
    background-color: #4a4aee;
    cursor: pointer;
}

.cuenta-gratis {
    padding: 1rem 0;
}

.formulario input {
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: white thin solid;
    text-align: center;
    outline: none;
    padding: .2rem 0;
    font-size: .9rem;
    color: white;

}


.formulario input:placeholder-shown {
    border: none;
    border-bottom: rgb(90, 84, 84) thin solid;
}

.animate__animated.animate__flash {
    --animate-duration: 10s;


}



.formulario button {
    width: 60%;
    margin: auto;
    border: solid thin white;
    padding: .7rem;
    border-radius: 2rem;
    background-color: white;
    font-weight: 600;
    margin-top: 1rem;
    font-size: .8rem;
    cursor: pointer;
    color: #222;
}

.sign-in {

    opacity: 1;
    visibility: visible;
}

.sign-up {
    opacity: 1;
    visibility: visible;
}


/*Display max 480px*/
@media screen and (max-width: 780px) {
    .container-form {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        justify-content: center;
    }

    .message {
        grid-column: 1;
        grid-row: 1;
    }

    .formulario {
        grid-column: 1;
        grid-row: 2;
    }
}

@media screen and (min-width: 2560px) {
    .container-form {
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        justify-content: center;

    }

    .message {
        grid-column: 1;
        grid-row: 1;
        justify-content: center;
        margin-top: 50%;
    }

    .formulario {
        grid-column: 2;
        grid-row: 1;
        justify-content: center;
        margin-top: 30%;
    }
}