@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url("https://cdn.datatables.net/v/dt/dt-1.13.1/datatables.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

    max-width: 100%;
    min-height: 100%;
}

.user {
    color: #fff;
}

main {
    display: grid;
    grid-template-columns: 180px auto auto auto;
    grid-template-rows: 15% 20% 20% 20%;
    height: -webkit-fill-available;
    max-width: 100%;
    height: 200vh;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: auto;
    position: relative;
}

.b-divider {

    grid-column: 2;
    grid-row: 1 / span 20;
    width: 0.05rem;
    height: 100%;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
    vertical-align: -.125em;
    pointer-events: none;
    fill: currentColor;
}

.dropdown-toggle {
    outline: 0;
}

.nav-flush .nav-link {
    border-radius: 0;
}

.btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
    border: 0;
}


.btn-toggle:hover,
.btn-toggle:focus {
    color: rgba(0, 0, 0, .85);
    background-color: #d2f4ea;
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);
}

.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.activo {
    color: #52edc1;
}

.btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
    background-color: #d2f4ea;
}

/*.scrollarea {
    overflow-y: hidden;
}*/

.fw-semibold {
    font-weight: 600;
}

.lh-tight {
    line-height: 1.25;
}

.navbar {
    position: fixed;
    left: 180px;
    height: 50px;
    width: auto;
    padding: 5px;
    z-index: 1;
    top: 0;
    left: 180px;
    right: 0px;
}

.lateral {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}


.contenedor {
    grid-column: 2 / span 3;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    column-gap: 5%;

    width: 90%;


    margin-left: 50px;


}

.contenedor .box1 {
    grid-column: 1;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    width: 100%;
    height: 112px;
    background: #E3F5FF;
    border-radius: 16px;
    padding-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


}

.contenedor .iconos {
    grid-column: 3;
    grid-row: 1/span 2;
    margin: 10%;
    overflow: hidden;


}

.contenedor .box2 {
    grid-column: 2;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    width: 100%;
    height: 112px;
    background: #E5ECF6;
    border-radius: 16px;
    padding-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.contenedor .box3 {
    grid-column: 3;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    width: 100%;
    height: 112px;
    background: #E3F5FF;
    border-radius: 16px;
    padding-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.contenedor h1 {
    font-size: 30px;
}

.contenedor .texto {
    grid-column: 1;
    grid-row: 2;
    margin-left: 20px;
    font-size: 40px;
}



.grafico {
    grid-column: 2/ span 3;
    grid-row: 3/span 4;
    column-gap: 5%;
    margin-top: 30px;
    width: 90%;
    margin-bottom: 30px;
    margin-left: 50px;
    background: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
}

.tabla1 {
    grid-column: 2/ span 3;
    grid-row: 7/span 8;
    column-gap: 5%;
    margin-top: 30px;
    width: auto;
    height: auto;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    background: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    text-align: center;


}


.tabla1 .encabezado {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;



}

.dropdown2 {
    align-items: center;
    text-align: center;
}

.dropdown2 .item1 {
    color: rgb(205, 135, 50);
}

.dropdown2 .item2 {
    color: red;
}

.dropdown2 .item3 {
    color: green;
}

.dropdown2 .item1:hover {
    font-size: 25px;
}

.dropdown2 .item2:hover {
    font-size: 25px;
}

.dropdown2 .item3:hover {
    font-size: 25px;
}

.popover-body .date {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;
}

.formulario {
    grid-column: 2/span 3;
    grid-row: 2/span 4;
    column-gap: 5%;
    margin-top: 30px;

    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
    background: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;

}

.formulario .valores {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    margin-left: 2%;
    row-gap: 8px;
    justify-content: center;
    margin: 4%;



}

.formulario .valores input,
.select1,
textarea {
    width: 250px;
    height: 40px;
    border-width: 2px;
    border-radius: 5px;
    padding-left: 2%;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.dataTables_length {
    margin-bottom: 2%;
}

.formulario .valores .item5 {
    grid-column: 1/span 2;
    display: flex;
    margin-top: 5%;
    flex-direction: row;
    justify-content: space-between;

}



.formulario .valores .item5 input {
    width: 500px;
    margin-right: 12%;
}

.formulario .valores .item6 {
    grid-column: 1/span 2;
    display: flex;
    margin-top: 5%;
    flex-direction: row;
    justify-content: space-between;

}

.formulario .valores .item6 input {
    width: 500px;
    margin-right: 12%;
}

.formulario .valores .item7 {
    margin-top: 5%;
}

.formulario .valores .item7 textarea {
    grid-column: 1 / span 2;
    width: 190%;
    height: 100px;

    border-radius: 5px;
    padding-left: 2%;
}

.formulario .guardar {
    margin-bottom: 3%;
    margin-left: 45%;
}

.tablaregistro {
    grid-column: 2/span 3;
    grid-row: 2/span 4;
    column-gap: 5%;
    margin-top: 5%;

    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 50px;
    background: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    font-family: 'Open Sans', sans-serif;

}

.search {
    top: 6px;
    left: 10px;
}

.buscar {

    border: none;
    padding-left: 32px;
}

.buscar:focus {

    border: none;
    box-shadow: none;
}

.green {

    color: green;
}

.buttonguardar {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    justify-content: right;
    margin-top: 1%;
    margin-bottom: 1%;


}


.t2 {
    cursor: pointer;
}

hr {
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: 0.25;
}

@media screen and (max-width: 1080px) {

    .tabla1 {
        margin: 10px;
        width: auto;
        height: auto;


    }
}